#board3{
  height:1000px;
  padding-top:50px;
    margin-top: 100px;
    margin-bottom: 250px;
    overflow: auto;
    list-style-type: none;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
       
  }
  #board3>.cen {
    width: 80%;
    max-width: 1400px;
    margin: auto;
    
  }
  .four{
    width: calc(100%);   
    text-align: center;    
    border-radius: 10%;
    box-shadow: 5px 0px 25px 15px rgb(179, 179, 179);
  background-color: rgb(255, 255, 255);
  }
  
  .index_title3{
    font-family: NanumMasIssNeunCe;
    font-size: 4em;
    font-weight: bold;
    color:rgb(60, 66, 71);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
    /* border-bottom: 3px solid black; */
  }
  .box1{
    text-align: center;
    width:100%;
    height:600px;
   
}
.fa-user{ 
  margin-bottom: 10px;
  font-size: 5em;
  margin-top: 10%;
}
.umail{
  height:300px;
  position: relative;
  margin-top:-2%;
  margin-bottom:-2%;
}
.umail>p{ 
  
  font-size:1.5em;
}
.giticon_box {
  text-align: center;
 display: inline-block;
  width: 100px;
  height: 100px;
  /* left:36vw; */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
}

.giticon_ani {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient( 135deg, #A0FE65 10%, #FA016D 100%);
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
.profile_wrapper{display:table;position:relative;width:100%;height:100%;margin-top: 200px;}
.gradation_animate{display:table-cell;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.gitico1 {
  position: relative;
  overflow: hidden;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
}

.gitimage {
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
  height: 92px;
  min-width: 100%;
  min-height: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
}

.info{
  font-size : 30px;
  margin-top:-3%;
  margin-bottom:-2%;
  padding-bottom: 50px;
  font-family: NanumMasIssNeunCe;
}