@charset "utf-8";

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    
}
#main_visual {
    height: 800px;
    padding-top:10px;
    background-repeat: no-repeat;
    background-position: center;
}
.mainteg{
    margin-left:420px;
    position: absolute;
    color: black;
    padding-top: 300px;
    
    /* pointer-events: none; */
}

.mainteg>p{
    
    font-size: 3em;
    letter-spacing: -0.02em;
    color: black;;
    border-radius: 20px;
    font-family: 'NanumMasIssNeunCe';
}
.p1,
.p2,
.p3{ 
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    -webkit-user-drag: none;}


#c4{
    margin-top: -100px;
    width:100%;
    height:1200px;
    position: absolute;
    z-index: -5;
    border-bottom: 5px solid black;
}

#poly{
    position: absolute;
    width:100%;
    height:1200px;
    z-index: 0;
    margin-top: 4%;
    /* overflow: hidden; */
}


#forum { 
    text-align: center;
    margin-top:-150px;
    margin-bottom: 100px;
    z-index: 2;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
}



#forum_list {
    border-radius: 50px;
    box-shadow: 0px 0px 25px 5px rgb(124, 124, 124);
    clear: both;
    height: 800px;
    background-image: linear-gradient(to right, #d1d7db, #afc6ed);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
#about{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    padding-top: 5%;
    color:white;
    
    
}
#forum_list img{
    float: left;
    display: block;
    width:300px;
    height: 400px;
    margin-left: 8%;
    margin-top: 8%;
    border-radius: 30%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
}

#forum_list img:hover{
    overflow: hidden;
    background-image:url('/images/pepe.jpg');
}

#forum_list b{
    font-size: 1.2em;
    
}
#forum_list a {
    display: block;
    font-weight: bold;
    font-size: 2em;
    height: 20px;
    width:37%;
    float:right;
    margin-top: 6%;
    margin-right: 20%;
    color: rgb(55, 55, 55);
    position: relative;
    border-right: 1px solid rgba(255,255,255, 0.2);
    transition: all 0.3s;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'NanumMasIssNeunCe';
}
#forum_list a:last-of-type {border-right: none;}
#forum_list:hover {
    transform: scale(1.01);
    transition:  all 5s;
   
}
#forum_list:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    z-index: -1;
}
#forum_list:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(163, 156, 224, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.forum_title {
    font-size: 1.2em;
    font-weight: bold;
}
.forum_title::after {
    content: "";
    display: block;
    background-color: white;
    width: 30px;
    height: 3px;
    margin-top: 35px;
    margin-bottom: 25px;
}
#board1{
  
        height:1100px;
      padding-top:30px;
      margin-top: 200px;
      margin-bottom: 50px;
      overflow: auto;
      list-style-type: none;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
    .two{  
        width: calc(100% - 10px);   
        text-align: center;    
    }
    
    .index_title {
        font-family: NanumMasIssNeunCe;
        color: rgb(194, 194, 194);
        font-weight: bold;
        text-align: center;
        font-size: 4em;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .board_cont{width: 100%; height:800px; }
    .board_cont>div{
        margin-left:33%;}
    #c8{
    background-color: rgb(202, 218, 255);
    box-shadow: 5px 0px 25px 15px rgb(179, 179, 179);
    display: block;
    position: relative;
    width:100%;
    height:800px;
    bottom:0;
    left:0;
    right:0;
    z-index: -99;
    border-radius: 8%;
    overflow: auto;
    list-style-type: none;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
 
#skilldiv{

    position: absolute;
    text-align: center;
    transform:translateY(7%);
    width:400px;
    height:700px;
    border: 5px dashed rgb(147, 147, 147);
    border-radius: 10%;
    z-index: 11510;
    backdrop-filter: blur(5px);
    transition: all 0.1s;
    background-color:rgba(160, 160, 160, 0.3);
    box-shadow: 0px 0px 25px 5px rgb(255, 255, 255);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}
.skill_css,
.skill_html,
.skill_js{
width: 80px;  
margin: 10px 10px 30px;
}
.skill_three{
    width:190px;
    height:60px;
}
.skico{
    margin: 10px 10px 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}
.skill_css:hover{ 
    transition: all 5s;
    background-color: #ffffff;
    border-radius: 20%;
    width: 80px;  
    box-shadow:5px 5px 40px 45px #ffffff;}
.skill_html:hover{ 
    background-color: #ffffff;
    border-radius: 20%;
    width: 80px;  
    box-shadow:5px 5px 40px 45px #ffffff;}
.skill_js:hover{ 
    background-color: #ffffff;
    border-radius: 20%;
    width: 80px;  
    box-shadow:5px 5px 40px 45px #ffffff;}
.skill_jq:hover{ 
    background-color: #ffffff;
    border-radius: 20%;
    width: 270px;  
    box-shadow:5px 5px 40px 45px #ffffff;}
.skill_blender:hover{
    background-color: #ffffff;
    border-radius: 20%;
    width: 270px;  
    box-shadow:5px 5px 40px 45px #ffffff;}
.skill_sql:hover{
    background-color: #ffffff;
    border-radius: 20%;
    width: 170px;  
    box-shadow:5px 5px 40px 45px #ffffff;}
.skill_three:hover{
    background-color: #ffffff;
    border-radius: 20%;
    width: 190px;  
    box-shadow:5px 5px 20px 45px #ffffff;}
.skill_git:hover{
    background-color: #ffffff;
    border-radius: 20%;
    width: 140px;  
    box-shadow:5px 5px 20px 25px #ffffff;}
        
    .git{
        left:-3%;
    }
        
@media all and (max-width: 1200px){
    #main_visual>.cen>div {
        margin-left:38%;
    }
    #skilldiv{
        left: 30%;
    }

    
}

@media all and (max-width: 950px){
    #main_visual {
        height: 600px;
    }
    #main_visual>.cen>div {
        font-size: 1em;
        padding-top: 200px;
    }
    
    #forum_list a {
        width: 100%;
      
        left:10%;
        padding-top: 25px;
        text-align: center;
        margin-top: 8%;
        margin-right: 10%;
        
    }
    #forum_list img{
        margin-top:-5%;
        margin-bottom: -10%;
       width:30%;
        height:35%;
       margin-left:35%;
    }

}
@media all and (max-width: 850px){
    #main_visual>.cen>div {
        left:-5%;
    }
    #skilldiv{
        margin-right: 20%;
        width:80%;
    }
    .skill_css,
.skill_html,
.skill_js{
width: 65px;  
margin: 10px 10px 30px;
}
    

}
@media all and (max-width: 720px) {
    #main_visual>.cen>div {
        font-size: 1em;
        margin-top:10%;
        margin-left:25%;
    }
    #forum_list {
        margin-top:20%;
        text-align: center;
        height: 750px;
    }
    #skilldiv{
        margin-left: -21%;
    }
    #forum_list a {
        
        width: 80%;
        font-size: 28px;
        left:0%;
        padding-top: 40px;

    }
    #forum_list img{
       width:30%;
        height:35%;
       margin-left:35%;
    }
    .two {
        float: none;
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 50px;
    }
  

}
@media all and (max-width: 650px) {
    #forum_list img{
        width:25%;
         height:30%;
        margin-left:38%;
     }
    }
    
    @media all and (max-width: 480px) {
        #main_visual>.cen>div {
        padding-top: 200px;
        
    }
    #main_visual>.cen>div>br {
        display: none;
    }

    .board_title {
        float: none;
        width: 100%;
    }

    
    
}
